%script{:type => 'text/javascript', :src => '/js/nyan/three.min.js'}
%script{:type => 'text/javascript', :src => '/js/nyan/threex.nyancat.js'}
%script{:type => 'text/javascript', :src => '/js/nyan/threex.nyancatsound.js'}
%script{:type => 'text/javascript', :src => '/js/nyan/threex.nyancatstars.js'}
%script{:type => 'text/javascript', :src => '/js/nyan/threex.nyancatrainbow.js'}
%div.panel.panel-default
  %div.panel-heading
    %h4
      Yetty - Welcome!
  %div.panel-body#nyan-holder
    #nyan
%script{:type => 'text/javascript', :src => '/js/nyan/runner.js'}
